@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");

*,
html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

#root {
  display: flex;
}

.contract {
  max-width: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fdfd96;
  border-radius: 15px;
  -webkit-box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
  box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
}

.existing-contracts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* display: inline-block; */
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fdfd96;
  border-radius: 15px;
  -webkit-box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
  box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.59);
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  letter-spacing: 4px;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
  width: 245px;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: rgb(216, 213, 213);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(216, 213, 213);
}

input::placeholder {
  color: rgb(216, 213, 213);
}

button.deploy {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

#container {
  max-height: 800px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
